@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Estilização da Scrollbar Customizada Mackenzie 2026 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #22d3ee, #6366f1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}

/* Compatibilidade com Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #22d3ee rgba(255, 255, 255, 0.02);
}